body {
    
    margin: 0;
    
    font-family: 'Montserrat', sans-serif;
    
    font-size: 10px;
    line-height: 1.6;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
/*=====================================================================================================*/
.intro {
    width: 100%;
    height: 100vh;
    background: url(java.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.intro_title {
    padding-top: 100px;
    
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 0.9;
}

.intro_site {
    font-size: 20px;
    font-weight: 400;
    
    text-align: center;
    margin: 25px;
}
/*=====================================================================================================*/
.header {
    width: 100%;
    
    padding-top: 15px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    font-size: 30px;
    font-weight: 600;
    color: white;
}
/*=====================================================================================================*/
.nav {
    font-size: 15px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    
    color: white;
    text-decoration: none;
    
    transition: color 0.225s linear;
}

.nav_link:hover {
    color: #cccccc;
}